
ul, li, ol{

  text-decoration: none;
  list-style: none;
  text-align: left;
}

body{
  background-color: ##ffffff;
}

#{
font-family: 'Nunito', sans-serif;
}

.bg-green{
background-color: #588f5a!important;

}

.ion-ios-search-strong{
  color: white;
}


.container{
margin-top: 10vw;
}

.alling{
text-align: center;
justify-content: center;

}

.borcua{
border: solid 1px, #26882d;

}

.oelem{
display: none;

}

.active{
color:#2f3d24;

}

.card-body{

padding: 3vw;
margin: 2vw 0;

}

.form-control:focus {
  border: 2px solid #23a36a;
  box-shadow: none;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(46, 92, 6, 0.6);
  color: #fff;
}

.container final {
  background-color: #588f5a;
}

.img{
  width: 20%;
  float: left;
  margin: auto;
  }

.img img{
  width: 100%;
}
