

ul, li, ol{

  text-decoration: none;
  list-style: none;
  text-align: left;
}

body{
  background-color: ##ffffff;
  font-size: 10px;
  background-image:url(../images/fondo.jpg);
}

#{
font-family: 'Nunito', sans-serif;
}


.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}

.bg-green{
background-color: #588f5a!important;

}

.ion-ios-search-strong{
  color: white;
}

.caja{

  margin: 10px;
  font-size: 2em;
  background-color: #FFF;

}

.container{
margin-top: 10vw;
padding: 10px;
}


.alling{
text-align: center;
justify-content: center;

}

.borcua{
border: solid 1px, #26882d;

}

.oelem{
display: none;

}

.active{
color:#2f3d24;

}

.card-body{
padding: 3vw;
margin: 2vw 0;
}


.barra{
  font-size: 2em;
}

.producto{
  font-size: 2em;
}
/* Preguntas frecuentes */

.titulo{
  color:rgb(18, 147, 92);
  font-size: 2em;
  text-align: center;
  padding: 20px;
  border: solid 1px rgb(18, 147, 92);
  margin-top: 20px;
  margin-bottom: 50px;
}

.contenedor{
  padding: 20px;
}

h1,h2,h3,h4,h5,.lead,div[data-toggle="collapse"]{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
ul li{
    list-style:one;
}

/* Línea de las preguntas*/
div[data-toggle="collapse"]{
   border-bottom:1px solid #21aa70;
   width:90%;
   padding:30px;
}
.collapse{
    width:90%;
    background-color: rgb(238, 236, 245);
    font-size: 1.5em;
}
